@font-face {
  font-family: "masiva";
  src: url(/assets/fonts/FontsFree-Net-Masiva-Regular);
}
body {
  background: url("/assets/background.png");
  background-size: cover;
  width: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "masiva regular";
  justify-content: space-around;
}

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 540px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: -2px 3px 22px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 40px;
}
#boy {
  z-index: 1;
  width: 360px;
  position: absolute;
  top: 140px;
  left: 170px;
}
.register h2 {
  text-align: center;
}
.register .user,
.register .pass {
  position: relative;
  padding: 10px 0px 20px 0;
  cursor: pointer;
}
.register .user input,
.register .pass input {
  width: 100%;
  height: 25px;
  outline: none;
  border: none;
  position: relative;
  border-bottom: 1px solid rgb(65, 65, 65);
  z-index: 11;
}
.register .user input[type="text"],
.register .pass input[type="password"] {
  font-size: 16px;
  margin: 5px 0px 5px 0;
}
.register .user label,
.register .pass label {
  position: absolute;
  z-index: 111;
  pointer-events: none;
  width: 100%;
  height: 100%;
  bottom: -20px;
  opacity: 0.7;
  left: 0;
  transition: 0.15s ease-out;
}
form {
  overflow: hidden;
}
.checked {
  top: 0;
  font-size: 12px;
  color: #1f94e7;
  opacity: 1;
}
.register .user label span,
.register .pass label span {
  position: absolute;
  transition: all 0.2s ease;
}
.register .user label::before,
.register .pass label::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 22px;
  z-index: 9;
  top: 0;
  border-bottom: 2px solid rgb(0, 140, 255);
  transform: translateX(-100%);
  transition: all 0.2s ease;
}
.register .user input:focus + .label-name span,
.register .pass input:focus + .label-name span,
.register .user input:valid + .label-name span,
.register .pass input:valid + .label-name span {
  transform: translateY(-20px);
  font-size: 13px;
  color: rgb(0, 140, 255);
}
.register .user input:focus + .label-name::before,
.register .pass input:focus + .label-name::before {
  transform: translateX(0%);
}
input.submit {
  border: none;
  margin-left: 114px;
  outline: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  background-color: #1f94e7;
  color: white;
  transition: 0.2s ease;
}
.submit:hover {
  background-color: black;
}
#error_user,
#error_pass {
  position: absolute;
  bottom: 9px;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: red;
}
p {
  font-size: 10px;
  text-align: center;
}
a {
  color: #1f94e7;
  list-style: none;
}
